:root {
    --primary: #1a237e;
    --on-primary: #ffffff;
    --linear-primary-high: #1a237e;
    --linear-primary-low: #1f288b;
    --secondary: #e91e63;
    --feeling-happy: #3bbe30;
    --feeling-good: #99be30;
    --feeling-medium: #c5a919;
    --feeling-sad: #ff820e;
    --feeling-hard: #ff0000;
}
