.Group {
    width: 50%;
    font-size: 1.3rem;
    display: flex;
    flex-direction: column;
    margin: 2rem;
}

.Btn {
    align-self: center;
    width: 30%;
    padding: 0.8rem;
    background: transparent;
    border: 2px solid var(--primary);
    color: var(--primary);
    font-size: 1.2rem;
    transition: 300ms;
    cursor: pointer;
}

.Btn:hover {
    background: var(--primary);
    color: var(--on-primary);
}
