.LoginGroup {
    width: 50%;
    font-size: 1.3rem;
    display: flex;
    flex-direction: column;
    margin: 2rem;
}

.LoginBtn {
    align-self: center;
    width: 30%;
    padding: 0.8rem;
    background: transparent;
    border: 2px solid var(--primary);
    color: var(--primary);
    font-size: 1.2rem;
    transition: 300ms;
    cursor: pointer;
}

.LoginBtn:hover {
    background: var(--primary);
    color: var(--on-primary);
}

.Title {
    margin: 2rem;
}

.Title h1 {
    border-bottom: 2px solid var(--primary);
}

.ErrorForm {
    color: red;
    font-size: 1.1rem;
}
