<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= pageTitle %></title>
</head>
<body>
    <h1>Welcome to TicTacToe Game</h1>
    <div class="name-input">
        <p>First you need to choose a username :</p>
        <input id="name" type="text" name="username" placeholder="username" />
        <button id="name-btn" class="name-btn">Play</button>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.1/socket.io.js"
        integrity="sha512-AcZyhRP/tbAEsXCCGlziPun5iFvcSUpEz2jKkx0blkYKbxU81F+iq8FURwPn1sYFeksJ+sDDrI5XujsqSobWdQ=="
        crossorigin="anonymous"></script>
    <script src="home.js"></script>
</body>
</html>