.GraphContainer {
    display: flex;
    flex-direction: column;
    width: calc(100% - 2rem);
    height: calc(100% - 2rem);
    padding: 1rem;
}

.GraphTitle {
    text-align: center;
    font-size: 0.8rem;
}

.GraphBody {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    height: 100%;
}

.GraphYContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 90%;
    max-width: 20%;
}

.GraphXContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 100%;
    width: 100%;
}

.GraphColumnValue {
    display: flex;
    flex-direction: column-reverse;
    height: 100%;
    margin-left: 1rem;
}

.GraphPercentageBarContainer {
    display: flex;
    position: relative;
    width: 20px;
    margin: auto;
    height: calc(90% - 2px);
}

.GraphPercentageBar {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}
