.WeightCard {
    width: calc(100% - 2rem);
    height: calc(100% - 2rem);
    padding: 1rem;
}

.WeightCardTitle {
    text-align: center;
    color: #6d42a5;
}

.WeightCardBody {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    height: 80%;
    color: #6d42a5;
}

.PercentageBarContainer {
    position: relative;
    width: 1rem;
    height: 80%;
    border: 2px solid #6d42a5;
    border-radius: 6px;
    overflow: hidden;
}

.PercentageBar {
    background: linear-gradient(0deg, #6d42a5, #8553c7);
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
}

.WeightCardContent {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.WeightCardWeight {
    font-size: 3rem;
    position: relative;
}

.WeightCardWeightDiff {
    font-size: 1rem;
    position: absolute;
    top: -20%;
    left: 100%;
}

.Up {
    color: green;
}

.Down {
    color: red;
}

.HelpSection {
    width: 2rem;
    text-align: center;
    float: right;
    position: relative;
}

.HelpSectionNote {
    bottom: 120%;
    z-index: -1;
    left: -150px;
    position: absolute;
    width: 300px;
    height: fit-content;
    padding: 1rem;
    background: rgb(192, 188, 188);
    opacity: 0;
    transition: 250ms;
    border-radius: 5px;
    box-shadow: 1px 1px 1px rgb(112, 112, 112);
}

.HelpSection p {
    cursor: help;
}

.HelpSection p:hover ~ .HelpSectionNote {
    opacity: 1;
    z-index: 1;
}
