.BreadBottom {
    width: 40%;
    height: 10%;
    background: linear-gradient(#f3a547, #d58a30, #905b1b);
    border-radius: 5px 5px 13px 13px;
    margin: 0.3rem;
}

.BreadTop {
    width: 40%;
    height: 15%;
    background: linear-gradient(#f3a547, #d58a30, #905b1b);
    border-radius: 45% 45% 10px 10px;
    margin: 0.3rem;
    position: relative;
}

.Meat {
    width: 40%;
    height: 9%;
    background: linear-gradient(90deg, #6e3807, #863426);
    margin: 0.3rem;
    border-radius: 6px 14px;
}

.Salad {
    width: 40%;
    height: 6%;
    align-self: center;
    background: linear-gradient(35deg, #7bbe53, #5a903a, #5aab2b, #3a9009);
    margin: 0.3rem;
    border-radius: 14px 6px;
}

.Cheese {
    width: 40%;
    height: 4%;
    align-self: center;
    background: linear-gradient(35deg, #cdb800, #d7ca54);
    margin: 0.3rem;
    border-radius: 6px 14px;
}

.Pickle {
    width: 8%;
    height: 5%;
    align-self: center;
    background: linear-gradient(35deg, #0a3f0e, #3b633e);
    margin: 0.3rem;
    border-radius: 6px 14px;
    position: relative;
}

.Pickle:after {
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    background: linear-gradient(35deg, #0a3f0e, #3b633e);
    margin: 0.3rem;
    top: calc(-15px / 2 + 2);
    left: 130%;
    border-radius: 10px;
}

.Pickle:before {
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    background: linear-gradient(35deg, #0a3f0e, #3b633e);
    margin: 0.3rem;
    top: calc(-15px / 2 + 2);
    left: -130%;
    border-radius: 10px;
}
