.CardContainer {
    padding: 1rem;
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    box-sizing: border-box;
}

.CardTitle {
    text-align: center;
    font-size: 1.8rem;
}

.CardBody {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.CheckBox {
    width: 2rem;
    height: 2rem;
}

.WorkoutNumber {
    font-size: 3rem;
}
